aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.10.2
anyio==3.6.2
async-timeout==4.0.2
attrs==22.2.0
Authlib==1.2.0
azure-ai-formrecognizer==3.2.1
azure-common==1.1.28
azure-core==1.26.3
backoff==2.2.1
boilerpy3==1.0.6
canals==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
contourpy==1.0.7
cryptography==40.0.1
cycler==0.11.0
databricks-cli==0.17.6
decorator==5.1.1
dill==0.3.6
docker==6.0.1
docopt==0.6.2
elasticsearch==7.17.9
entrypoints==0.4
Events==0.4
farm-haystack==1.15.0
fastapi==0.95.0
filelock==3.10.7
Flask==2.2.3
fonttools==4.39.3
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.31
gunicorn==20.1.0
h11==0.14.0
huggingface-hub==0.13.3
idna==3.4
importlib-metadata==6.1.0
importlib-resources==5.12.0
inflect==6.0.2
isodate==0.6.1
itsdangerous==2.1.2
jarowinkler==1.2.3
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
langdetect==1.0.9
llvmlite==0.39.1
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
mlflow==2.2.2
mmh3==3.1.0
monotonic==1.6
more-itertools==9.1.0
mpmath==1.3.0
msrest==0.7.1
multidict==6.0.4
networkx==3.0
nltk==3.8.1
num2words==0.5.12
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.2
packaging==23.0
pandas==2.0.0
pdpyras==4.5.2
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
posthog==2.4.2
posthoganalytics>=2.4.2
protobuf==3.20.2
pyarrow==11.0.0
pycparser==2.21
pydantic==1.10.7
PyJWT==2.6.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
pytz==2022.7.1
PyYAML==6.0
quantulum3==0.8.1
querystring-parser==1.2.4
rank-bm25==0.2.2
rapidfuzz==2.7.0
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.97
seqeval==1.2.2
shap==0.41.0
six==1.16.0
slack-bolt==1.17.0
slack-sdk==3.20.2
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
SQLAlchemy==2.0.8
sqlparse==0.4.3
sseclient-py==1.7.2
starlette==0.26.1
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
threadpoolctl==3.1.0
tika==2.6.0
tiktoken==0.3.3
tokenizers==0.13.2
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
transformers==4.25.1
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
uvicorn==0.21.1
validators==0.19.0
weaviate-client==3.10.0
websocket-client==1.5.1
Werkzeug==2.2.3
yarl==1.8.2
zipp==3.15.0
